body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

header > img {
  width: 100px;
  float: left;
}

ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

input[type="submit"], select {
  cursor: pointer;
  outline: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background-image: url(stars.png);
  vertical-align: bottom;
  outline: none;
}

input[type="radio"]:checked {
  background-position: bottom;
}

input:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

ul.ingredients-list li:nth-of-type(even) {
  background: lightgrey;
}

h2 + .user_review {
  border-top: 1px solid black;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  display: block;
}

nav {
  float: right;
}

body {
  margin: 0 auto;
  width: 60%;
}

aside {
  display: inline-block;
}

.ingredients-list li, .directions li {
  margin: 15px 0px 15px 0px;
}

input[type="text"], select {
  display: block;
}

select {
  margin: 10px 0;
}

textarea {
  display: block;
}
